.categories-preview-container {
  margin-top: 80px;

  .vpn {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-top: 280px;
    user-select: none;
  }
}
